@{
    ViewData["Title"] = "Start Page"; Layout = "~/Views/Shared/StartLayout.cshtml";
}

<html>
<head>
    <title>WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h3 style="margin-left:38%; font-size:45px;">@ViewData["Title"]</h3>
    <button style="color:dimgray; border-color:white; background-color:darksalmon; font-size:30px;" type="button" class="btn btn-success" id="button" onclick="location.href='@Url.Action("Login", "Users")'">
        Login
    </button><br><br><br>
    <button style="color:dimgray; border-color:white; background-color:darksalmon; font-size:30px;" type="button" class="btn btn-success" id="button" onclick="location.href='@Url.Action("Registration", "Users")'">
        Registration
    </button>
</body>
</html>